*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
#Loading{
 width:100%;
 height:100vh; 
 background-color:#000
 url('https://basic-ecommerc.herokuapp.com/images/bx_loader2.gif');
 
}    
@importurl('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
body   {
font-family: Roboto,Arial,sans-serif;
max-width: 100%;
overflow-x: hidden;
font-size:14px!important;
}
a:hover;{
}


.navbar {
    background-color:#172337!important;
}
.shop-add-btn-cont {
    margin-right: 40px;
	transition:2s!important;
}
.button.gray-light {
    color: #fff;
    background-color: #172337;
	transition: 2s!important;
}
.button.medium {
    padding: 10px 37px 10px 37px;
    display: inline-block;
}
.shop-add-btn {
    display: block;
    width: 90%;
    padding-left: 0!important;
    padding-right: 0!important;
		
}
#cont h5{
	color:#fff;
	
}
.navbar a {
  font-size: 16px;
  text-align: center;
  text-decoration: none!impo;
  padding-left: 17px;
}	
.dropdown {
  float: left;
  overflow: hidden;
}
	
.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font: inherit;
  margin: 0;
}

a{
    text-decoration: none!important;
    color:#222;
	cursor: pointer;
    font-size: 1em;
}
a:hover{
    color:deepskyblue;
}
ul{
    list-style: none;
}

img:hover{
    filter: brightness(110%);
	
    vertical-align: middle;
}
.clearfix:after,
.clearfix:before{
    content: "";
    clear: both;
}
.clearfix:after{
    display: table;
}

/*=================================*/
.menu-container{
	width:100%;
	display: none;
	margin-top:-20px;
	background:#172337!important;
	min-height:5vw;
	
}
.menu-container:after,
.menu-container:before{
    content: "";
    clear: both;
}
.menu-container:after{
    display: table;
}
.menu-container .manu{
	width:95%;
	display: block;
	
	margin: 0 auto 0 auto;
	left: 0px;
  top: 0px;
  z-index: 1;
  
}
.menu ul{
}
.menu ul:before,
.menu ul:after {
    content: "";
    display: table;
	
}
.menu ul:after {
    clear: both;
}
.menu:before,
.menu:after {
    content: "";
    display: table;
}
.menu:after {
    clear: both;
}
.menu ul li ul:before,
.menu ul li ul:after {
    content: "";
    display: table;
}
.menu ul li ul:after {
    clear: both;
}
.menu-container .manu ul li{
	float: left;
	background-color: transparent;
	
  
 
}
.menu-container .manu ul li a{
	display: block;
	padding: 24px 25px;
	color: #fff;
	font-size: 16px;

}
.menu-container .manu ul li a span{
	transition: .3s all ease-out;
	line-height: 0px;
}
.menu-container .manu ul li a:hover{
	

}
.menu-container .manu ul li a:hover span{
	
	padding-right: 5px;
}




.menu-container .manu ul li .have_dropdown_n_style{
	background-color: transparent!important;
	position: absolute;
	left: 0;
	display: none;
	width: 100%;
}
.menu-container .manu ul li .have_dropdown_n_style li a{
	color: #0076db;
	border-bottom: 1px solid #fff!important;
}
.menu-container .manu ul li .have_dropdown_n_style li a:hover{
	font-weight: bold;
}
.menu-container .manu ul li .have_dropdown_n_style li ul li a{
	color: #285284;
	border-bottom: none;
}
.menu-container .manu ul li .have_dropdown_n_style li ul li a:hover{
	color: #0076db;
	font-weight: normal;
	background-color: #fafafa;
	text-decoration: underline;
}
.menu-container .manu ul li .have_dropdown_n_style li{

	float:left;
}
.menu-container .manu ul li .have_dropdown_n_style{
	background-color: #eee;
}

.menu-container .manu ul li .have_dropdown li a:hover{
	background-color: #FAFAFA;
	color: #14a0f9;
	z-index:1;
	 left: 0px;
    top: 0px;
	position:absolute;
}
.menu-container .manu ul li .have_dropdown li ul li{
	display: none;
}
.menu-container .manu ul li .have_dropdown_n_style li ul li{
	background-color: #fff;
	height: auto;
	float: none;
	display: block;
	width: 100%;
}
.nav_menu_toggler_icon{
	cursor: pointer;
	position: absolute;
	right: 5%;
	top: 2.3%;
	background: none;
	color: #fff;
	font-size: 25px;
	z-index: 150;
	display: none;
	border: none;
}
.nav_menu_toggler_icon span{
	padding: 2px 7px;
	border-radius: 8px;
}
.nav_menu_toggler_icon:active{
	color: #ddd;
}
.container_help{
	text-align: center;
	margin-top: 150px;
}
.container_help h2,.container_help h1{
	color: #fff;
	font-size: 30px;
	font-weight: normal;
}

.query2>input.searchBar2 {
    display: inline-block;
    float:right;
    font-size: 14px;
    height:18px;
    line-height: 24px;
    width:60%;
    color: #696e79;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    padding: 10px 42px 11px;
    margin: 0;
    outline: 0;
    border: 1px solid #f5f5f6!important;
    border-radius: 0 4px 4px 0;
    border-left: 0;
    background: #f5f5f6;
	margin-left:282px;
	margin-top:-55px;
}




 .btn-danger {
    color: #fff;
    background-color: #e9ecef;
    border-color: #e9ecef;
    display: flex;
    margin-left:229px;
    margin-top:-54px;
	float:right;
}
.nav-link{
	color: #ffffff!important;
}

.btn-danger {
    color: #817e7e!important;
    border: 1px solid #f5f5f6!important;
    background: #f5f5f6!important;
}


ul2{
display: inline-block;
float:right;
margin: 27px 35px 0 -53px;
height: 40px;
text-align:center;
margin-top:36px;
color:#fff;

}

ul2 .fa-user {
	margin:0 23px 0 32px;
	
}

ul2.fa-heart{
	margin-left:0 19px 0 2px;
}

ul2.fa-lock{
	
}
li.fa-heart {
    margin: 0 34px 0 2px!important;
   
}
.bx-wrapper { 
   -moz-box-shadow: none; 
   -webkit-box-shadow: none; 
   box-shadow: none!important; 
   border: 0!important; 
} 
 .bx-wrapper .bx-controls-direction a { 
     position: absolute; 
     top:34%!important; 
     margin-top: -16px; 
     outline: 0; 
     width: 47px!important; 
     height: 104px!important; 
     text-indent: -9999px; 
     z-index: 9999;    	 
} 
 .bx-wrapper .bx-prev { 
 left: 0px!important; 
  
  background: url('images/left-chevron.svg') no-repeat 0 33px!important;  
 }

 .bx-wrapper .bx-prev{ 
	 width:-10px!important; 
 } 
 .bx-wrapper .bx-controls-direction a{ 
	 padding: 56px1px 22px; 
	 cursor: pointer; 
	 
	 width:51px!important;
    
  padding: 10px;
   
 }
 .bx-wrapper .bx-next { 
     right: 0px!important; 
     background: url('images/right-arrow.svg') no-repeat 0 33px!important;
	 width:-80px!important;
     ::-webkit-scrollbar 
      overflow:hidden!important;
	 
 } 
 .bx-wrapper .bx-controls-direction a { 
     padding: 56px 22px;  
     cursor: pointer; 
	 display: inline-block; 
	 width:51px!important;
     border-radius: 0 4px 4px 0!important;
	  
 } 

ul:not(.u-unstyled) 
        { 
          margin-top: 10px!important;  
        
         } 
 .slider-wrapper { 
         display: flex; 
         position: relative; 
         width: 100%; 
         height:7vw; 
         max-height: 500px; 
         min-height: 300px; 
          
         overflow: hidden; 
		 border: 1px solid #fff; 
		 box-shadow: 0 1px 1px 0 rgb(0 0 0 / 16%); 
       } 

       .slider-wrapper ul { 
           list-style: none; 
           margin: 0; 
           padding: 0; 
       } 

       slider-img 
          ul.slider-img { 
          display: flex; 
          position: absolute; 
          width: 100%; 
          height: 100%; 
          left: 0; 
         
      } 

       ul.slider-img li { 
         flex: 1 0 100%; 
       } 
       ul.slider-img li img { 
         width: 100%; 
         height: 100%; 
         object-fit: cover; 
       }

  slider-arrow 
          ul.slider-arrow { 
          position: relative; 
         color: #fff; 
         font-size: 2rem; 
         display: flex; 
         justify-content: space-between; 
         height: 100%; 
         width: 100%; 
         text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6); 
       } 

       @media screen and (min-width: 768px) { 
         ul.slider-arrow { 
           font-size: 2.5rem; 
         } 
       } 

       ul.slider-arrow li { 
         display: flex; 
         align-items: center; 
         cursor: pointer; 
         height: 100%; 
         padding: 0 15px; 
         opacity: 0.4; 
         
       } 

       ul.slider-arrow li:hover { 
         opacity: 1; 
       } 

   
       .slider-dot { 
         position: absolute; 
         bottom: 15px; 
         display: flex; 
         justify-content: center; 
         align-items: flex-end; 
         width: 100%;
         color: #fff; 
         text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6); 
       }


       .slider-dot li { 
         cursor: pointer; 
        margin: 0 8px; 
         font-size: 0.6rem; 
         opacity: 0.4; 
       } 

       .slider-dot li.active { 
         opacity: 1; 
       } 

       @media screen and (min-width: 768px) { 
         .slider-dot li { 
           margin: 0 12px; 
           font-size: 0.95rem; 
         } 
       } 
	  
 .slider-wrapper .slider-dot{ 
	 display:block;
     overflow:hidden!important;	 
 }	 
 
	
	
 .bx-container { 
     height:450px!important; 
     width:170px!important; 
     overflow: hidden; 
     list-style-type: none; 
 } 

 .bx-container .slide-div {background: no-repeat center center; 
     background-size:contain; */
     width:100%; 
     height:100%; 
	 margin-top:-117px; 
	
 } 


 #head { 
	 padding: 15px 20px; 
     border-bottom: 1px solid rgba(0,0,0,.1);
	 background-color:#fff;
	 margin-top:13px;
     text-align: initial;	 
 }	 

 #head h1{ 
	 font-family: Arial,sans-serif; 
	  font-size:22px; 
	  font-weight:500; 
 }	  
	 
 #head h3{ 
	 font-family: Arial,sans-serif; 
	 font-size: 14px; 
     color: #b2b2b2; 
     font-weight: 400; 
 } 

 .bx-container.hover p strong{ 
	 color: #ca3c3c!important; 
	 text-align:center; 
	 font-size:32px; 
	 font-weight:500; 
	
 } 
.text-white {
    color: #fff!important;
    text-align: initial;
}

 .bx-container.hover p small{ 
      line-height: 20px;  
	  color:red!important; 
 } 
 .bx-container .hover{ 
 text-align:center; 
 position:absolute; 
 bottom: 0; 
 left: 0; 
 width: 100%; 
 display:block; 
 padding:64px 0px; 
 } 

 .bx-wrapper .bx-pager{ 
	 display:none; 
	
 } 
.item img{
    display: inline-block;
    margin-top:70px!important;
   
    
    border-radius: 5px;
    margin: 10px
}




.correct-item {
    /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15); */
    position: relative;
    border-radius: 5px;
   
    webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
    
	margin-top:70px;
}

.correct-item:after {
    content: "";
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); */
    opacity: 0;
    
    
}

.correct-item:hover:after {
    opacity: 1
}

.correct-item:hover {
    -webkit-transform: scale(1.25, 1.25);
    transform: scale(1.25, 1.25)
}

footer.bg-success {
    background-color:#172337!important;
}
 img.logo-footer {
    max-width: 50%;
    margin-top: 0;
    margin-bottom: 18px;
}	
.u-section-2 {
     
	 
	   
}

.u-section-2 .u-slider-1 {
  min-height: 305px;
  margin-top: 0;
  margin-bottom: 0;
}
.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  width: 32px;
  height: 10px;
  top: auto;
  bottom: 40px;
}
.u-section-2 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/sunglass_category_banner_1_1400x.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}
.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/Sale-Banner-1349-x-350-FINAL.jpg");
  background-position: 50% 50%;
}
.u-section-2 .u-container-layout-3 {
  padding: 30px;
}
.u-section-2 .u-group-2 {
  width: 1077px;
  min-height: 308px;
  animation-duration: 1000ms;
  margin: 0 auto;
}
.u-section-2 .u-container-layout-4 {
  padding: 30px;
}
.u-section-2 .u-text-3 {
  font-weight: 700;
  line-height: 1.3;
  font-size: 5rem;
  text-transform: uppercase;
  margin: 0;
}
.u-section-2 .u-text-4 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}
.u-section-2 .u-btn-2 {
  border-style: none none solid;
  padding: 0;
}
.u-section-2 .u-carousel-control-1 {
  width: 59px;
  height: 59px;
}
.u-section-2 .u-carousel-control-2 {
  width: 59px;
  height: 59px;
}
@media (max-width: 1199px) {
  .u-section-2 .u-slider-1 {
    height: auto;
  }
  .u-section-2 .u-group-1 {
    width: 880px;
  }
  .u-section-2 .u-text-1 {
    line-height: 1.2;
  }
  .u-section-2 .u-group-2 {
    width: 880px;
  }
  .u-section-2 .u-text-3 {
    line-height: 1.2;
  }
}
@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 720px;
  }
  .u-section-2 .u-text-1 {
    font-size: 4.6875rem;
  }
  .u-section-2 .u-group-2 {
    width: 720px;
  }
  .u-section-2 .u-text-3 {
    font-size: 4.6875rem;
  }
}
@media (max-width: 767px) {
  .u-section-2 {
    min-height: 513px;
  }
  .u-section-2 .u-slider-1 {
    min-height: 513px;
  }
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .u-section-2 .u-group-1 {
    width: 540px;
  }
  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .u-section-2 .u-group-2 {
    width: 540px;
  }
  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (max-width: 575px) {
  .u-section-2 {
    min-height: 446px;
  }
  .u-section-2 .u-slider-1 {
    min-height: 446px;
  }	
ul{
	float:left;
}
ul li{
  list-style:none;
  margin-bottom:10px;
}
#Gallery img{
 width:40px!important;
 height:40px!important;
}
#Gallery.big img{
 width:350px!important;
 height:400px!important;
 float:left;
 
} 	